<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Brasserie{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="">salut</a></li>
                <li><a href="">resalut</a></li>
                <li><a href="">reresalut</a></li>
                <a><img src=""></a>
                <li><a href="">rereresalut</a></li>
                <li><a href="">rerereresalut</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
